# Environment
# folder ENVIRONMENT_NAME must exist in data/environment-config
project.environment.name=ENVIRONMENT_NAME

# Database
project.database.hostname=DATABASE_HOST
project.database.port=DATABASE_PORT
project.database.username=DATABASE_USER
project.database.password=DATABASE_PASSWORD
project.database.dbname=DATABASE_NAME

# Server
project.deploy.server.host=SERVER_HOST
project.deploy.server.username=SERVER_USERNAME
project.deploy.server.password=SERVER_PASSWORT
project.deploy.server.directory=SERVER_DIRECTORY


